{% include "dashboard/header.html" %}


{% load crispy_forms_tags %}
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row d-flex justify-content-center">
                
                <div class="col-md-12">
                    
                        {% if response %}   
                        <div class="alert alert-success" role="alert">
                          {{response}}
                        </div>
                        {% endif %}
                     
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Edit Teacher {{teacher.name}}</h1>
                        </div>
                        <form class="  m-5" method="POST" action='' enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form | crispy}}
                            <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                        
                    
                    </div>
                </div>



                
            </div>
        </div>
    </div>

</div>










{% include "dashboard/footer.html" %}